# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data / outputs
analysis/outputs/
site/public/data/*
*.parquet
*.csv
*.json
!site/package.json
!site/package-lock.json
!vercel.json
!site/public/data/.gitkeep

# Node
site/node_modules/
site/.next/
site/out/

# OS
.DS_Store
.venv/
